body {
    background-color: beige;
    margin: 0px;
}

nav {
    margin: 10px;
}

.outer-box {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.inner-box1, .inner-box2 {
    border: 1px cyan solid;
    padding: 25px;
}

img {
    width: 176px;
    height: 266px;
}

.stars {
    font-size: 20px;
}

.authors {
    color: rgb(75, 74, 74);
}

footer {
    background-color: darkgoldenrod;
    margin: 50px 0 0 0;
}