body {
    background-color: beige;
    margin: 0px;
}

nav {
    margin: 20px;
    display: grid;
    grid-template-columns: 175px 1fr;
    align-content: start;
    font-weight: 800;
}

.outer-box {
    width: 65%;
    margin: 50px auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
}

.inner-box1, .inner-box2 {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: .2fr .2fr .2fr .2fr 1fr;
    border: 1px solid cyan;
}

#image_container {
    grid-row: 1 / 6;
    margin: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    padding-right: 20px;
}